@{
    ViewBag.Title = "Home Page";
}
<br />
<style type="text/css">
    .style1 {
        border: 1px solid green;
        border-radius: 6px;
        box-shadow: 1px 1px 2px -1px;
        width: 100%;
        padding: 30px;
    }
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>Request Tracking System</h1>
            <p class="lead">We often find difficulties to manage and track issues or RFCs. This application will provide flexibility to manage issues with user friendly interfaces.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Explore more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <img src="/Content/images/Graph1.jpg"/>
            <p style="text-shadow: 1px 2px #ddd; font-size: 20px; font-family: verdana, arial, sans-serif;">
                For more information please write to <a href="mailto:brajalal@rediffmail.com">brajalal@rediffmail.com</a><br />
                <img src="/Content/images/Phone.jpg" /> <b>+91 9588431871</b><br/><br/>
                <img src="/Content/images/logo.png"/>
            </p>
        </div>
    </div>
</div>

<div class="row" style="display: none">
    <div class="col-md-4">
        <span style="display: none">
            <h2>Submit Request</h2>
            <p>
                User friendly interfaces helps entering request with ease.
            </p>
            <p>
                <a class="btn btn-default" href="#">More &raquo;</a>
            </p>
        </span>
    </div>
    <div class="col-md-4">
        <h2>Status with Graph & Chart</h2>
        <p style="display: none">Chart & Graphs are included in the project to view the status at a glance.</p>
        <p><img src="/Content/images/Graph1.jpg" /></p>

    </div>
    <div class="col-md-4">
        <h2>Developer Note</h2>
        <p style="text-shadow: 1px 2px #ddd; font-family: verdana, arial, sans-serif;">
            For more information please write to <a href="mailto:brajalal@rediffmail.com">brajalal@rediffmail.com</a><br />
            <img src="/Content/images/Phone.jpg" /> <b>+91 9588431871</b>
        </p>
        <p></p>
    </div>
</div>
