body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 880px;*/
    color: navy;
}


.table2 {
    border: 1px solid green;
    border-radius: 6px;
    box-shadow: 2px 2px 2px -1px;
    font-family: sans-serif;
        
        
}
 
.table2 tr {
    border: 1px solid lightblue;           
}

.table2 td {
    padding: 3px;        
    box-shadow: 0 2px 0;    
    font-size: 13px; 
}


.table2 th {    
    color:blue;
    padding: 5px;
    text-shadow: 1px 2px white;
    font-size: 14px;
        
}

.table2 tr:nth-child(even) {
    background-color: white 
    padding: 8px;
}

.table2 tr:nth-child(odd) {
    background-color: #f2f2f2;    
    padding: 8px;
}
/*
.table2 tr:first-child {                
    
    color:blue;
    padding: 5px;
    text-shadow: 1px 2px white;
    font-size: 14px;
    background: linear-gradient(to right, lightcyan, lightgreen);
    height: 28px;
}
    */

.headerRow {
    color:blue;
    padding: 5px;
    text-shadow: 1px 2px white;
    font-size: 14px;
    background: linear-gradient(to right, beige, lightgreen);
    
    /*height: 28px;*/
}

.tab-header {
    background: linear-gradient(to bottom, lightcyan, lightgreen); 
    color: navy;
    border-radius: 2px 30px 0 0; 
    height: 28px;
    text-shadow: 1px 1px white;
}

.jumbotron2 {
    padding: 60px;
    margin-bottom: 30px;
    font-weight: 200;
    /*line-height: 2.1428571435;*/
    color: inherit;
    /*background-color: #eeeeee;*/
    border-radius: 6px;
    min-height: 425px;
    background: linear-gradient(to left, rgb(224, 255, 255), rgb(224, 255, 200));
    /*background-image: url('images/Brajalal.jpg');*/
    box-shadow: 2px 2px 2px -1px;
}

.jumbotron2 h1 {
    font-size: 42px;
    font-family: verdana;
    color: navy;
    font-weight: bold;
    text-shadow: 1px 1px darkcyan;
    margin-top: 25px;
    
}

.ui-icon2
 {
    background-image: url("images/Flags.png");
}

/* positioning */
.ui-icon2-blank { background-position: 112px 16px; }
    